
---
import '../sass/hero.scss'
---



<header class="header bg-zinc-900 flex  flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
    <div class="header__divisor">

   
    <h1 class="header__title text-5xl font-bold pb-2">Protect your passeword</h1>
    <p class="header__descripcion my-4 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, aliquid.</p>
    <button class="header__button bg-indigo-500 px-3 py-2 hover:bg-indigo-400">Star now</button>
</div>
    <img class="header__image w-80" src="./images/finger.svg" alt="">



    
</header>