---
import "../sass/hero.scss";
---

<header
  class="header "
>
  <div class="header__divisor">
    <h1 class="header__title ">
      Protect your passeword
    </h1>
    <p class="header__descripcion ">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
      aliquid.
    </p>
    <button class="header__button bg-indigo-500 px-3  hover:bg-indigo-400"
      >Star now</button
    >
  </div>
  <img class="header__image" src="./images/finger.svg" alt="" />
</header>
